<h2>Your email has been changed</h2>
<hr>
<p>Hi <%= @resource.email %>,</p>
<p>We wanted to let you know that your email was changed. If this was not you please contact the system admin immediately</p>